.bodyimg1 img{
    width: 500px;
    margin-top: -140px;
    margin-left: -200px;
}
.bodyimg1 h1{
    text-align: center;
    margin-top: 130px;
    margin-left: -500px;
  
   
}
.bodyimg1 p{
    width: 600px;
    float: right;
    font-size: larger;
    margin-right: 470px;
   
}
.button1{
    float: right;
    margin-top: -170px;
    margin-right: 770px;
    border-radius: 12px;
    border: none;
    width: 300px;
    background-color: rgb(255, 200, 151);
    height: 40px;
}

button h2{
    font-size: medium;
}
.skincolour h1{
    margin-top: 30px;
}
   

.bodyimg2 img{
    float: right;
    width: 300px;
    height: 400px;
    margin-top: -250px;
}
.bodyimg2 h1{
   margin-top: 150px;
   margin-left: 1050px;

}
.bodyimg2 p{
    width: 600px;
    margin-left: 600px;
    font-size: larger;

    
}
.button2{
    margin-left: 600px;
    background-color: rgb(255, 200, 151);
    border-radius: 12px;
    border: none;
    width: 300px;
    height: 40px;
    
}
.bodyimg3 img{
    margin-top: -150px;
    width: 400px;
    height: 350px;
}
.bodyimg3 h1{
    margin-top: 280px;
    margin-left: 400px;

}
.bodyimg3 p{
    margin-left: 400px;
    font-size: larger;
    width: 400px;
    
    
}
.button3{
    margin-left: 400px;
    margin-top: -180px;
    position: absolute;
    background-color: rgb(255, 200, 151);
    border-radius: 12px;
    border: none;
    width: 300px;
    height: 40px;

}
