
.service{
    background-color: #bca896;
    margin-top: -30px;
    height:900px;
}
.heading{
    color:#3c1604;
    top: 30px;
    position: absolute;


}
.heading h1{
    margin-left: 600px;
}
.images{
    margin-left: 80px;
    display: flex;
    gap: 30px;
    position: absolute;
    margin-top: 50px;
   
}
.images img{
    width: 400px;
    height: 450px;
    border-radius: 90px;
}
.images a {
    text-decoration: none; 
    color: inherit; 
}

.images h2{
    margin-top: -50px;
    text-align: center;
    color: aliceblue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   
}
